<div class="container-fluid d-flex justify-content-around">
  <div class="row mt-4">
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1606171687198-55586a6cdf4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=446&q=80"
          class="card-img-top img-fluid img-thumbnail"
          alt="..."
          max-width="5px"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="d-flex justify-content-between">
              <span class="price">R$299,99</span>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- Botão de adicionar -->
<div class="box">
  <i class="fa fa-plus-circle plus-button" aria-hidden="true"></i>
</div>
