<div class="container-fluid d-flex justify-content-around">
  <div class="row mt-4 col-md-9 justify-content-between">
      <div class="card col-3 mb-2" style="width: 18rem" *ngFor="let produto of listaProduto">
        <img
          src="{{produto.imagem}}"
          class="card-img-top img-fluid img-thumbnail"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{produto.nomeProduto}}</h5>
          <p class="card-text">
            {{produto.fornecedor}}
          </p>
          <div class="d-flex justify-content-between">
              <span class="price">R${{produto.valor}}</span>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          
        </div>
      </div>
    
  </div>
</div>

<!-- Botão de adicionar -->
<div class="box">
  <i class="fa fa-plus-circle plus-button" aria-hidden="true"></i>
</div>
