<div class="container-fluid vh-100 justify-content-center d-flex">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              name="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              [(ngModel)]="usuario.usuario"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              name="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              [(ngModel)]="usuario.senha"
            />
          </div>
          <div class="mb-3">
            <label for="nome" class="form-label"> Nome </label>
            <input
              name="nome"
              type="text"
              class="form-control"
              id="nome"
              [(ngModel)]="usuario.nome"
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="cadastrar()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
