<div class="row vw-100 vh-100 m-0 p-0" id="img-bg">
  <div class="col-md-12 d-flex align-items-center justify-content-center">
    <div class="col-md-3 vw-100 d-flex flex-column box-shadow">
        <h1 class="m-0 p-0 mb-2 mt-2 text-center text-white">Entrar</h1>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
              [(ngModel)]="userLogin.usuario">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="text-white">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="userLogin.senha">
            </div>
            <div class="container d-flex justify-content-center p-0 mt-4">
                <button type="submit" class="btn bt-entrar text-white" (click)="entrar()">Entrar</button>
            </div>
            <hr class="mt-4 mb-4">
            <p class="text-center text-white">Não tem uma conta? <button type="button" class="btn text-red bt-cadastrar" data-toggle="modal" data-target="#Modal">Cadastre-se</button></p>
          </form>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-color-cadastro">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="ModalLabel">Seja bem-vindo(a)! Por favor insira suas informações para continuar:</h5>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="nome" class="text-white">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome">
              </div>
              <div class="form-group">
                <label for="emailcadastro" class="text-white">Email</label>
                <input type="email" class="form-control" id="emailcadastro" aria-describedby="emailHelp" name="emailcadastro"
                [(ngModel)]="usuario.usuario">
              </div>
              <div class="form-group">
                <label for="senhacadastro" class="text-white">Senha</label>
                <input type="password" class="form-control" id="senhacadastro" name="senhacadastro" [(ngModel)]="usuario.senha">
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn text-white bg-red" (click)="cadastrar()" data-dismiss="modal">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
</div>