<nav class="navbar navbar-expand-lg navbar-dark bg-color d-flex justify-content-between">
  <a class="navbar-brand" href="#">OLW</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Nome do produto" aria-label="Search">
    <button class="btn my-2 my-sm-0 bt-color text-white" type="submit">Pesquisar</button>
  </form>
  <div>
    <span class="navbar-brand">{{nome}}</span>
    <a (click)="logout()"><i class="fa fa-sign-out logout text-white" aria-hidden="true"></i></a>
    
  </div>
  
</nav>